.card {
  background-color: #bf4f74;
  border-radius: 10px;
  border: 10px solid #bf4f74;
  cursor: pointer;
  width: 400px;
  height: 250px;
  padding: 10px;
  word-wrap: break-word; /* Allows text to break onto new lines */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

h2 {
  font-size: 1.5em;
  color: papayawhip;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
/* add font style */

h3 {
  color: #bf4f74;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
}

.level-selector {
  background-color: #a2d8d8;
  border: 5px solid #a2d8d8;
  border-radius: 5px;
  width: 90px;
  height: 45px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin: 10px;
  margin-left: 0px;
}

.level-selectors-container {
  display: flex;
  gap: 20px; /* Adds space between the LevelSelectors */
  justify-content: center; /* Centers them horizontally */
}
